.Hero {
    position: absolute;
    height: 95vh;
    width: 100%;
    top:0;

    .videoBg{
        position: absolute;
        height: 100%;
        width: 100%;
    }

    video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .sectionText{
        position: absolute;
        height: 100%;
        top:30%;
        bottom: 50%;
        color:antiquewhite;
        padding: 0 1.3rem;
    }
    h1{
        font-weight: 900;
        text-transform: capitalize;
    }
   p{
    padding: 1rem 0;
    font-size: medium;
    font-weight: 500;
    text-align: center;
   }
}